<!DOCTYPE html>
<html>
<head>
    <title>Dry Bean Prediction</title>
</head>
<body>

<h2>Dry Bean Classification</h2>

<form action="/predict" method="post">
    <input type="text" name="Area" placeholder="Area"><br>
    <input type="text" name="Perimeter" placeholder="Perimeter"><br>
    <input type="text" name="MajorAxisLength" placeholder="Major Axis Length"><br>
    <input type="text" name="MinorAxisLength" placeholder="Minor Axis Length"><br>
    <input type="text" name="AspectRatio" placeholder="Aspect Ratio"><br>
    <input type="text" name="Eccentricity" placeholder="Eccentricity"><br>
    <input type="text" name="ConvexArea" placeholder="Convex Area"><br>
    <input type="text" name="EquivDiameter" placeholder="Equivalent Diameter"><br>
    <input type="text" name="Extent" placeholder="Extent"><br>
    <input type="text" name="Solidity" placeholder="Solidity"><br>
    <input type="text" name="Roundness" placeholder="Roundness"><br>
    <input type="text" name="Compactness" placeholder="Compactness"><br>
    <input type="text" name="ShapeFactor1" placeholder="Shape Factor 1"><br>
    <input type="text" name="ShapeFactor2" placeholder="Shape Factor 2"><br>
    <input type="text" name="ShapeFactor3" placeholder="Shape Factor 3"><br>
    <input type="text" name="ShapeFactor4" placeholder="Shape Factor 4"><br>

    <button type="submit">Predict</button>
</form>

</body>
</html>

